{% extends "base.html" %}

{% block content %}

<br>
<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 cent">
        
    <h1 style="color: white; text-align:center;">Casos Igresados</h1>
    <br>
    <div class="table-responsive py-2 tabla">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo Caso</th>
                    <th>Ubicacion</th>
                    <th>Fono</th>
                    <th>Descripcion del caso</th>
                    {% comment %} <th colspan="2">Opciones</th> {% endcomment %}
                </tr>
            </thead>

            <tbody class="tr1">
                {% for c in caso %}
                <tr>
                    <td>{{forloop.counter}} </td>
                    <td>{{ c.tipo_caso }}</td>
                    <td>{{ c.ubicacion }}</td>
                    <td>{{ c.fono }}</td>
                    <td>{{ c.desc_caso }}</td>
                    
                    {% comment %} <td><a href="edicionPedido/{{c.codigo}}" class="btn btn-info">Editar Caso</a></td>
                    <td><a href="eliminarPedido/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar Caso</a></td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock content %}