{% extends "base.html" %}

{% block content %}
<h1 class="h1cso">Ingreso de caso</h1>

<div class="caso">
    <form action="/regcaso" method="POST">{% csrf_token %}
        <div class="form-group mb-3 ">
            <input type="text" id="tipocaso" name="tipocaso" class="form-control casoform" placeholder="Tipo Caso" minlength="1" maxlength="100" required>
        </div>

        <div class="form-group mb-3">
            <input type="text" id="ubi" name="ubi" class="form-control casoform" placeholder="Ubicacion" maxlength="50" required>
        </div>

        <div class="form-group mb-3">
            <input type="number" id="fono" name="fono" class="form-control casoform" placeholder="Fono" min="111111111" max="999999999" required>
        </div>

        <div class="form-group mb-3">
            <input type="text" id="desc_caso" name="desc_caso" class="form-control casoform" placeholder="Descripcion del caso" min="1" max="1000" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-warning btncaso">Ingresar Caso</button>
        </div>
    </form>
    
    
</div>
{% endblock content %}

